# Python
__pycache__/
*.pyc
.venv/

# MicroPico local state
.micropico/

# Downloaded board firmware
.firmware/

# Local board credentials
secrets.py
device/secrets.py

# VS Code local state
.vscode/*.code-workspace
